@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --color-brand: #161616;
  --color-gray9: #707070;
  --color-gray10: #7e7e7e;
  --color-gray11: #a0a0a0;
  --color-gray12: #ededed;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased;
    background-color: var(--color-brand);
    color: #fff;
    font-family: var(--font-sans);
  }

  /* Custom Scrollbar for the ui.land look */
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #0a0a0a;
  }
  ::-webkit-scrollbar-thumb {
    background: #27272a;
    border-radius: 10px;
  }
}
